

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');




@import "tailwindcss";

:root {
  --background: #F6FCFA;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}


@layer components {
  .input-form {
    @apply w-full px-4 py-2 rounded-lg 
           focus:outline-none focus:ring-2 focus:ring-blue-500 
           bg-gray-700/10 text-gray-900 placeholder-gray-900 mb-5 ;
  }

    .button-form {
    @apply  px-4 py-2 rounded-lg 
           focus:outline-none focus:ring-2 focus:ring-blue-500 
          text-white font-semibold placeholder-gray-900 mb-5 
           bg-[#2E8A80]
            /* bg-[#50AFA0]  */
       
           
           ;
  }
}





       
          /* <div className="bg-[#3BAFA4] w-50 h-50"></div>  */
